<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bordes</title>

    <style>
        .solid {
            border: 5px solid red;
            border-radius: 5px;
        }

        .shadow {
            text-shadow: 2px 2px red;
        }

        .neon {
            text-shadow: 0 0 3px red, 0 0 5px blue;
        }
    </style>

</head>
<body>
    <p class="solid">Algún texto</p>
    <h1 class="solid shadow">Algún texto</h1>
    <h1 class="neon">Algún texto</h1>
</body>
</html>